{% extends 'layout.html' %}
{% block content %}
<div class="web-section">
<div class="teamtext"> 
<div class="web-team" style="background-color: #F5F5F5">
<center>
    <h1>About Page</h1>
    <p>This website was founded in 2022 by Joel Fox and is a website about the Golden State Warriors</p>
    <p>A website that gives users information about the team and the option to subscribe to a newsletter for access to season tickets for when they are released</p>
    <p>The information on this website is gathered from the official NBA website and the official Golden State Warriors Website</p>
    <br>
    <br>
    <br>
    <br>
    <br><div class="newreleases-section">
      <ul class="web-grid">
        {% for image in about %}
        <li>
            <div class="newreleases-box">
            <div class="newreleases-img">
            
            <a href="/static/images/{{image[0]}}" data-lightbox="mygallery" data-title="{{image[1]}}"> <!--Here I used the lightbox for the gallery of images on my webiste-->
            <img src="/static/images/{{image[0]}}"> <!--This is the path to the images-->
          </a>
        </div>
      </div>
    </li> 
  
  
  
  
    </ul>
  </div>
    <br>

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <p>I do not own any of the information and images displayed on my this website</p>
  </center> 
</div>
<ul class="web-tablegrid">
</ul>
</div>
</div>
{% endblock %}