{% extends 'layout.html' %}
{% block content %}
<!--This is the code for the about page-->
<div class="web-section">
<div class="teamtext"> 
<div class="web-team" style="background-color: #F5F5F5">
<center>
    <h1>About Page</h1>
    <p>This website was founded in 2022 by Joel Fox and is a website about the Golden State Warriors</p>
    <p>A website that gives users information about the team and the option to subscribe to a newsletter for access to season tickets for when they are released</p>
    <p>The information on this website is gathered from the official NBA website and the official Golden State Warriors Website</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    </ul>
  </div>
    <br>

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <br>
    <br>
    <br>
    <p>I do not own any of the information and images displayed on my this website</p>
  </center> 
</div>
<ul class="web-tablegrid">
</ul>
</div>
</div>
{% endblock %}