{% extends 'layout.html' %}
{% block content %}
<form action="/playergallery" method="post">
<div class="search">
<input type="text" placeholder="Search Player.." name="playername">
<button type="submit">Search</button>
</div>
</form>
<div class="newreleases-section">
    <ul class="web-grid">
    {% for image in images %}
      <li>
          <div class="newreleases-box">
          <div class="newreleases-img">
          
          <a href="/static/images/{{image[0]}}" data-lightbox="mygallery" data-title="{{image[1]}}"> <!--Here I used the lightbox for the gallery of images on my webiste-->
          <img src="/static/images/{{image[0]}}"> <!--This is the path to the images-->
        </a>
      </div>
    </div>
  </li> 

{% endfor %}




  </ul>
</div>

{% endblock %}