{% extends 'layout.html' %}
{% block content %}
<div class="img1">
<img src="/static/css/images/nbafinals.png">
    <div class="web-section">
     <ul class="web-grid">
      <div class="teamtext"> 
      <a>Golden State Warriors News</a>
      </div>
     {% for teamname in teams %}
      <li>
        <div class="web-box">
        <div class="web-img">
        <a href="/teams/{{teamname[0]}}">
        <img src="/static/css/images/{{teamname[1]}}">
        <h2>{{teamname[0]}}</h2>
      </a>
    </div>
  </div>
</li> 

{% endfor %}

    </ul>
  </div>
  </div>
{%endblock%}




<!--<!DOCTYPE html>

<html>
    <head>
        <title>
            NBA Reference
        </title>
    </head>

    <body>
        Hello World!
    </body>
</html>