{% extends 'layout.html' %}
{% block content %}
<div class="img1">
<img src="/static/css/images/nbafinals.png">
    <div class="web-section">
     <ul class="web-grid">
      <div class="teamtext"> 
        <a>Golden State Warriors Mini Movie</a>
        <div class="web-video">
          <video src="https://clips-media-aka.warnermediacdn.com/nba/clips/2022-07/824689-e51330a7725044e4b47298029f55b2c3/mp4/1656701487607-Mini-Movie-2022-NBA-Finals-824674-1920x1080_8000k.mp4" controls>
        </div>
      <a>Golden State Warriors News</a>
      </div>
     {% for teamname in teams %}
      <li>
        <div class="web-box">
        <div class="web-img">
        <a href="/teams/{{teamname[0]}}">
        <img src="/static/css/images/{{teamname[1]}}">
        <h2>{{teamname[0]}}</h2>
      </a>
    </div>
  </div>
</li> 

{% endfor %}

    </ul>
  </div>
  </div>
{%endblock%}




<!--<!DOCTYPE html>

<html>
    <head>
        <title>
            NBA Reference
        </title>
    </head>

    <body>
        Hello World!
    </body>
</html>