{% extends 'layout.html' %}
{% block content %}

    <div class="web-section">
     <ul class="web-grid">
     
      <li>
        <div class="web-box">
        <div class="web-img">
        <h2>Golden State Warriors</h2>
        <a href="/templates/gsw.html">
        <img src="/static/css/images/gsw.png">
    </a>
       </div>
      </div>
    </li> 


    </ul>
  </div>
{%endblock%}




<!--<!DOCTYPE html>

<html>
    <head>
        <title>
            NBA Reference
        </title>
    </head>

    <body>
        Hello World!
    </body>
</html>