<!--This is the code for the page layout-->
<!doctype html> 
<html Lang="en">

<head>
    <title>Golden State Warriors REFERENCE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css">
    <script type="text/javascript" src="/static/js/lightbox-plus-jquery.min.js">
    </script>
    
</head>


<!--This is the code for my layout which helps the rest of my website work and this code is used 'extends layout.html' on my other pages for my website to make the main layout the same for all of the web pages of my website. This is the body where I have the header, nav, main and footer connected by usinng python code and html so that I can simplify the code when I want to include any of them in a web page-->
  <body>
    <header>{%include'header.html'%}</header>
    <nav>{%include'nav.html'%}</nav>
    <main>{%block content%}{%endblock%}</main>
    <footer>{%include'footer.html'%}</footer>
  </body>
</html>