

<div class="header-img">
    <img src="/static/css/images/nbalogo.png">  
    <img src="/static/css/images/gsw.png"> 
</div>
<div class="logo"> 
    <a>GOLDEN STATE WARRIORS REFERENCE</a>
</div>
<ul class="nav-links">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/roster">Roster</a>
    </li>
    <li>
        <a href="/shop">Shop</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
</ul>
<div class="layer">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>









