

<div class="header-img">
    <img src="/static/css/images/nbalogo.png">  
</div>
<div class="logo"> 
    <a>NBA REFERENCE</a>
</div>
<ul class="nav-links">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/teams/Golden%20State%20Warriors">Roster</a>
    </li>
    <li>
        <a href="#">Compare Stats</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
</ul>
<div class="layer">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>









