

<div class="header-img">
    <img src="/static/css/images/nbalogo.png">  
    <img src="/static/css/images/gsw.png"> 
</div>
<div class="logo"> 
    <a>GOLDEN STATE WARRIORS REFERENCE</a>
</div>
<ul class="nav-links">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/roster">Roster</a>
    </li>
    <li>
        <a href="/tickets">Season Tickets</a>
    </li>
    <li>
        <a href="/gallery">Gallery</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
</ul>









