{% extends 'layout.html' %}
{% block content %}
<div class="web-section">
  <div class="web-1team web-4img" style="background-color: #006bb6">
    <img src="/static/css/images/gsw.png">
  <h1>Golden State Warriors</h1>
  <img src="/static/css/images/gswposter.png"width="4000" height="200">
</div>
</div>
  <ul class="web-tablegrid">
{% for roster in roster %}
    <div class="web-table">
    <div class="web-2img">
      <img src="/static/css/images/{{roster[3]}}">
      <h2>{{roster[1]}}</h2>
      <h2>{{roster[4]}}</h2>
      <h2>{{roster[5]}}</h2>
    </div>
  </div>



{% endfor %}

  </ul>
</div>
{% endblock %}