{% extends 'layout.html' %}
{% block content %}
<div class="web-section">
{% for colour in colours %}
  <div class="web-team web-3img" style="background-color: {{colour[0]}}">
    {% for image in teamimage_id %}
    <img src="/static/css/images/{{image[0]}}">
    {% endfor %}
    {% endfor %}
  <h1>{{team_id[1]}}</h1>
</div>
</div>
  <ul class="web-tablegrid">
{% for player in players %}
    <div class="web-table">
    <div class="web-2img">
      <img src="/static/css/images/{{player[4]}}">
      <h2>{{player[1]}}</h2>
      <h2>{{player[5]}}</h2>
      <h2>{{player[6]}}</h2>
    </div>
  </div>
 </div>


{% endfor %}

  </ul>
</div>
{% endblock %}