{% extends 'layout.html' %}
{% block content %}
<form action="/subscribe" method="post">
    <div class="container">
        <div class="teamtext">
      <a>Golden State Warriors</a>
      </div>
      <h2>Subscribe to be notified first when Season Tickets are released</h2>
    </div>
  
    <div class="container" style="background-color:#F5F5F5">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="email" required, pattern=" .+@globex.com .+@gmail.com .+@burnside.school.nz .+@hotmail.com .+@yahoo.com" size="30" required>
      <label>
        <input type="checkbox" checked="checked" name="news"> Email me Golden State Warrior News
      </label>
    </div>

    <div class="web-5img">
        <img src="/static/css/images/gsw.png">
        </div>
    
        <div class="container">
      <input type="submit" value="Subscribe">
    </div>
  </form>

  
 
{% endblock %}